<html>
<head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body { margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
    </style>
 
</head>
<body>     
    <h1>Candlestick Pattern Scanner</h1>
    <form>
        <select name="interval">
            <option value="">-- Select Interval --</option>
            {% for key in interval_dict %}
                <option value="{{ key }}" {% if interval == key %}selected="selected"{% endif %}>{{ key }}</option>
            {% endfor %}
        </select>

        <!-- <input  type="submit" value="Refresh Data" /> -->
        <button onclick="location.href='/snapshot'"> Refresh Data </button>
    </form>
    <form>
        <select name="pattern">
            <option value="">-- Select a Pattern --</option>
            {% for key in candlestick_patterns %}
                <option value="{{ key }}" {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Scan" />
    </form>   


    <!-- <button onclick="location.href='/snapshot'"> Refresh Data </button> -->

    <table>
        <tr>
            <th id="symbol"></th>
            <th id="company"></th>
            <th id="signal"></th>
        </tr>
        {% for stock in stocks %}
            {% if stocks[stock][pattern] %}
            <tr>
                <td>
                    {{ stock }}
                </td>
                <td>
                    {{ stocks[stock]['company'] }}
                </td>
                <td class="{{ stocks[stock][pattern] }}">
                    {{ stocks[stock][pattern]}}
                </td>
            <tr>
                <td colspan="3">
                    <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l" />
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>